name: Simple Action
on: [push]

jobs:
    simple-action:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Simple Docker Action
              id: greet
              uses: ./.github/actions/hello-docker
              # uses: actions/hello-world-javascript-action@v1
              with:
                who_to_greet: David
            - name: Log Greeting Time
              run: echo "${{ steps.greet.outputs.time }}"
            - name: Log ENV Var
              run: echo $HELLO_TIME